/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  name = 'scRNA-SmartSeq3'
  description = 'Nextflow pipeline for SmartSeq3 data analysis'
  homePage = 'https://gitlab.curie.fr/sc-platform/smartseq3'
  author = 'L. Hadj Abed, N. Servant'
  version = '1.0.0'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
}

/**********
 * Params *
 **********/

params {
  help = false
  name = false

  // Analysis parameters
  genome = false
  reads = null
  samplePlan = null
  singleEnd = false
  reads = null
  readPaths = null

  // default options
  multiqcConfig = "$baseDir/assets/multiqcConfig.yaml"
  metadata = "$baseDir/assets/metadata.tsv"
  skipFastq = false

  // Output directories
  outdir = "$baseDir/results"
  summaryDir = "${params.outdir}/summary"

  // Skips
  skipMultiqc = false
  skipSoftVersions = false
  skipMultiQC = false

  // Design
  tagSeq="ATTGCGCAATG"
  umi_size=8
}

/************************
 * Configs and profiles *
 ************************/

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Annotation paths
includeConfig 'conf/genomes.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test{
    includeConfig 'conf/test.config'
  }
}

