conda {
  cacheDir = "${params.condaCacheDir}"
  createTimeout = '1 h'
}

process {

  beforeScript = "export R_LIBS_USER=\"-\"; export R_PROFILE_USER=\"-\"; export R_ENVIRON_USER=\"-\"; export PYTHONNOUSERSITE=1; export PATH=$PATH:${projectDir}/bin/fromSource"

  withLabel:R{ conda = "${projectDir}/environment.yml" }
  withLabel:cutadapt{ conda = "${projectDir}/environment.yml" } 
  withLabel:deeptools{ conda = "${projectDir}/environment.yml" }
  withLabel:featureCounts{ conda = "${projectDir}/environment.yml" } 
  withLabel:multiqc{ conda = "${projectDir}/environment.yml" }
  withLabel:preseq{ conda = "${projectDir}/environment.yml" }
  withLabel:python{ conda = "${projectDir}/environment.yml" }
  withLabel:rseqc{ conda = "${projectDir}/environment.yml" }
  withLabel:samtools{ conda = "${projectDir}/environment.yml" }
  withLabel:star{ conda = "${projectDir}/environment.yml" } 
  withLabel:umiTools{ conda = "${projectDir}/environment.yml" }
  withLabel:seqkit{ conda = "${projectDir}/environment.yml" } 
}
