conda {
  cacheDir = "${params.condaCacheDir}"
}

process {
  withLabel:multiqc { conda = "${baseDir}/environment.yml" }
  withLabel:python { conda = "${baseDir}/environment.yml" }
  withLabel:umiTools { conda = "${baseDir}/environment.yml" }
  withLabel:seqkit { conda = "${baseDir}/environment.yml" }
  withLabel:cutadapt { conda = "${baseDir}/environment.yml" }
  withLabel:STAR { conda = "${baseDir}/environment.yml" }
}
