docker {
  enabled = true
  runOptions = "${params.geniac.containers.dockerRunOptions}"
}

process {
  withLabel:onlyLinux { container = "onlylinux" }
  withLabel:multiqc { container = "multiqc" }
  withLabel:python { container = "python" }
  withLabel:umiTools { container = "umiTools" }
  withLabel:seqkit { container = "seqkit" }
  withLabel:cutadapt { container = "cutadapt" }
  withLabel:STAR { container = "STAR" }
  withLabel:featureCounts { container = "featureCounts" }
  withLabel:samtools { container = "samtools" }
  withLabel:deeptools { container = "deeptools" }
  withLabel:rseqc { container = "rseqc" }
  withLabel:R { container = "R" }
}


# getTaggedSeq / mergeReads / -> seqkit
# umiExtraction / countMatrices -> umiTools
# trimReads -> cutadapt
# readAlignment -> STAR
# readsAssignment -> featureCounts
# sortBam / separateReads -> samtools
# bigWig -> deeptools
# genebody_coverage -> rseqc
# umiPerGeneDist / countUMIGenePerCell / cellAnalysis -> R