docker {
  enabled = true
  runOptions = "${params.geniac.containers.dockerRunOptions}"
}

process {
  withLabel:multiqc { container = "multiqc-1.9" }
  withLabel:python { container = "python-3.7.9" }
  withLabel:umiTools { container = "umiTools-1.1.1" }
  withLabel:seqkit { container = "seqkit-0.14-0" }
  withLabel:cutadapt { container = "cutadapt-3.1" }
  withLabel:star { container = "star-2.7.6a" }
  withLabel:featureCounts { container = "featureCounts-2.0.1" }
  withLabel:samtools { container = "samtools-1.10" }
  withLabel:deeptools { container = "deeptools-3.5.0" }
  withLabel:rseqc { container = "rseqc-3.0.1" }
  withLabel:R { container = "r-seurat" }
  withLabel:preseq { container = "preseq-2.0.3" }
}
