docker {
  enabled = true
  runOptions = "${params.geniac.containers?.dockerRunOptions}"
}

process {
  withLabel:R{ container = "r" }
  withLabel:cutadapt{ container = "cutadapt" }
  withLabel:deeptools{ container = "deeptools" }
  withLabel:featureCounts{ container = "featurecounts" }
  withLabel:multiqc{ container = "multiqc" }
  withLabel:onlyLinux{ container = "onlylinux" }
  withLabel:preseq{ container = "preseq" }
  withLabel:python{ container = "python" }
  withLabel:rseqc{ container = "rseqc" }
  withLabel:samtools{ container = "samtools" }
  withLabel:seqkit{ container = "seqkit" }
  withLabel:star{ container = "star" }
  withLabel:umiTools{ container = "umitools" }
  withLabel:seqkit{ container = "seqkit" }
}
