/******************************
 * Define geniac configuration
 */

params {

  genomeAnnotationPath = params.genomeAnnotationPath ?: "${projectDir}/../annotations"

  geniac {
    // Path to the tools
    path = params.globalPath ?: "${projectDir}/../path/bin"
    multiPath = params.globalPath ?: "${projectDir}/../multipath"
    singularityImagePath = params.singularityImagePath ?: "${projectDir}/../containers/singularity"

    tools {
      // Add your tools available in conda here, for example:
      multiqc = "${projectDir}/recipes/conda/multiqc.yml"
      python = "${projectDir}/recipes/conda/python.yml"
      umiTools = "${projectDir}/recipes/conda/umiTools.yml"
      seqkit = "${projectDir}/recipes/conda/seqkit.yml"
      cutadapt = "${projectDir}/recipes/conda/cutadapt.yml"
      featureCounts = "${projectDir}/recipes/conda/featureCounts.yml"
      samtools = "${projectDir}/recipes/conda/samtools.yml"
      deeptools = "${projectDir}/recipes/conda/deeptools.yml"
      rseqc = "${projectDir}/recipes/conda/rseqc.yml"
      R = "${projectDir}/recipes/conda/R.yml"
      star = "${projectDir}/recipes/conda/star.yml"
      preseq = "${projectDir}/recipes/conda/preseq.yml"
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = "--bind ${params.containers.specificBinds}"
      dockerRunOptions = "-v \"\$PWD\":/tmp"
      // containers are based on CentOS linux
      // some tools require dependencies to be installed with 'yum install'
      // specific dependencies are listed below
      //yum { }
      //git { }
    }
  }
}
