/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {

  genomes {
    // Human
    'hg19' {
      starIndex = "${params.genomeAnnotationPath}/Human/hg19/indexes/STAR_2.7.2b/"
      gtf  = "${params.genomeAnnotationPath}/Human/hg19/gtf/gencode.v19.annotation.gtf"
      bed12 = "${params.genomeAnnotationPath}/Human/hg19/gtf/parseGTFAnnotation/gencode.v19.annotation.bed12"
    }
    'hg38' {
      starIndex = "${params.genomeAnnotationPath}/Human/hg38/star-index/"
      gtf ="${params.genomeAnnotationPath}/Human/hg38/star/star_gencodeV24/gencode.v24.annotation.gtf"
      bed12 = "${params.genomeAnnotationPath}/Human/hg38/gtf/parseGTFAnnotation/gencode.v29.annotation.bed12"
    }
    
    // Mouse
    'mm10' {
      starIndex = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/STAR_2.7.2b/"
      gtf  = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/gencode.vM22.annotation.gtf"
      bed12 = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/parseGTFAnnotation/gencode.vM13.annotation.bed12"
    }

    'mm9' {
      starIndex  = "${params.genomeAnnotationPath}/Mouse/mm9/indexes/STAR_2.7.2b/"
      gtf   = "${params.genomeAnnotationPath}/Mouse/mm9/gtf/gencode.vM1.annotation.gtf"
      bed12 = "${params.genomeAnnotationPath}/Mouse/mm9/gtf/parseGTFAnnotation/gencode.vM1.annotation.bed12"
    }
  }

}