/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {

  genomes {
    // Human
    'hg19' {
      star = "${params.genomes_base}/Human/hg19/indexes/STAR_2.7.2b/"
      gtf  = "${params.genomes_base}/Human/hg19/gtf/gencode.v19.annotation.gtf"
    }
    'hg38' {
      star = "${params.genomes_base}/Human/hg38/indexes/STAR_2.7.2b/"
      gtf ="${params.genomes_base}/Human/hg38/gtf/gencode.v32.annotation.gtf"
    }
    
    // Mouse
    'mm10' {
      star    = "${params.genomes_base}/Mouse/mm10/indexes/STAR_2.7.2b/"
      gtf     = "${params.genomes_base}/Mouse/mm10/gtf/gencode.vM22.annotation.gtf"
    }

    'mm9' {
      star    = "${params.genomes_base}/Mouse/mm9/indexes/STAR_2.7.2b/"
      gtf     = "${params.genomes_base}/Mouse/mm9/gtf/gencode.vM1.annotation.gtf"
    }
  }

  minCountPerCell1 = 500
  minCountPerCell2 = 1000
  minCountPerCellGene1 = 200
  minCountPerCellGene2 = 1000

}