/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {

  genomes {
    // Human
    'hg19' {
      starIndex = "${params.genomeAnnotationPath}/Human/hg19/indexes/STAR_2.7.8a/"
      gtf  = "${params.genomeAnnotationPath}/Human/hg19/gtf/gencode.v19.annotation.gtf"
      bed12 = "${params.genomeAnnotationPath}/Human/hg19/gtf/gencode.v19.annotation_proteinCoding.bed12"
    }
    'hg38' {
      starIndex = "${params.genomeAnnotationPath}/Human/hg38/indexes/STAR_2.7.8a/"
      gtf ="${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.annotation.gtf"
      bed12 = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.annotation_proteinCoding.bed12"
    }
    
    // Mouse
    'mm10' {
      starIndex = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/STAR_2.7.8a/"
      gtf  = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/gencode.vM22.annotation.gtf"
      bed12 = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/gencode.vM22.annotation_proteinCoding.bed12"
    }

    'mm9' {
      starIndex  = "${params.genomeAnnotationPath}/Mouse/mm9/indexes/STAR_2.7.8a/"
      gtf   = "${params.genomeAnnotationPath}/Mouse/mm9/gtf/gencode.vM1.annotation.gtf"
      bed12 = "${params.genomeAnnotationPath}/Mouse/mm9/gtf/gencode.vM1.annotation_proteinCoding.bed12"
    }

    // Fly 
    // The complete genome of Drosophila melanogaster comprises 143.73 million base pairs (Mbp), arranged on five chromosomes  (X, 2, 3, 4, & Y) and the extranuclear mitochondrial DNA (MT). 
    // Chromosomes X, 2, & 3 are quite large (L & R refer to their long and short arms), Chromosome 4 is a dot. 
    // The Y chromosome has a very small number of genes that pertain to sex determination. The mtDNA encodes proteins used in cellular metabolism in the mitochondria.
    'dm6' {
      starIndex  = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/indexes/STAR_2.7.8a/"
      gtf   = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/gtf/Drosophila_melanogaster.BDGP6.28.101.gtf"
      bed12 = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/gtf/Drosophila_melanogaster.BDGP6.28.101.bed12"
    }
  }

}