conda {
  cacheDir = "${params.condaCacheDir}"
}

process {
  withLabel:multiqc { conda = "${params.geniac.tools.multiqc}" }
  withLabel:python { conda = "${params.geniac.tools.python}" }
  withLabel:umiTools { conda = "${params.geniac.tools.umiTools}" }
  withLabel:seqkit { conda = "${params.geniac.tools.seqkit}" }
}
