conda {
  cacheDir = "${params.condaCacheDir}"
}

process {
  withLabel:multiqc { conda = "${params.geniac.tools.multiqc}" }
  withLabel:python { conda = "${params.geniac.tools.python}" }
  withLabel:umiTools { conda = "${params.geniac.tools.umiTools}" }
  withLabel:seqkit { conda = "${params.geniac.tools.seqkit}" }
  withLabel:cutadapt { conda = "${params.geniac.tools.cutadapt}" }
  withLabel:star { conda = "${params.geniac.tools.star}" }
  withLabel:featureCounts { conda = "${params.geniac.tools.featureCounts}" }
  withLabel:samtools { conda = "${params.geniac.tools.samtools}" }
  withLabel:deeptools { conda = "${params.geniac.tools.deeptools}" }
  withLabel:rseqc { conda = "${params.geniac.tools.rseqc}" }
  withLabel:R { conda = "${params.geniac.tools.R}" }
  withLabel:preseq { conda = "${params.geniac.preseq}" }
}
