/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  config_profile_name = 'Test data'
  config_profile_description = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run on Travis
  //max_cpus = 8
  //max_memory = 48.GB
  //max_time = 10.h

  maxMemory = 64.GB
  maxCpus = 12
  maxTime = 240.h

  // Input data
  readPaths = [
    ['L384T27', ["$baseDir/test/data/L384T27.R1.fastq.gz", "$baseDir/test/data/L384T27.R2.fastq.gz"]],
    ['L384T28', ["$baseDir/test/data/L384T28.R1.fastq.gz", "$baseDir/test/data/L384T28.R2.fastq.gz"]],
    ['L384T29', ["$baseDir/test/data/L384T29.R1.fastq.gz", "$baseDir/test/data/L384T29.R2.fastq.gz"]],
    ['L384T31', ["$baseDir/test/data/L384T31.R1.fastq.gz", "$baseDir/test/data/L384T31.R2.fastq.gz"]]
  ]

  // Si change dans dir: other/ 
  //['L384T27', ["$baseDir/test/data/L384T27.R1.fastq.gz", "$baseDir/test/data/L384T27.R2.fastq.gz"]],
  //['L384T28', ["$baseDir/test/data/L384T28.R1.fastq.gz", "$baseDir/test/data/L384T28.R2.fastq.gz"]],
  //['L384T27', ["$baseDir/test/data/L384T29.R1.fastq.gz", "$baseDir/test/data/L384T29.R2.fastq.gz"]],
  //['L384T27', ["$baseDir/test/data/L384T31.R1.fastq.gz", "$baseDir/test/data/L384T31.R2.fastq.gz"]]

  //['toy_L384T27', ["$baseDir/test/data/toy_L384T27.R1.fastq.gz", "$baseDir/test/data/toy_L384T27.R2.fastq.gz"]],
  //['toy_L384T28', ["$baseDir/test/data/toy_L384T28.R1.fastq.gz", "$baseDir/test/data/toy_L384T28.R2.fastq.gz"]]
  
  // Sample Plan - to use instead of readPaths
  //samplePlan = "$baseDir/test/samplePlan.csv"

  // Annotations
  genome = 'hg38'

}
