/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  config_profile_name = 'Test data'
  config_profile_description = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run on Travis
  maxMemory = 30.GB
  maxCpus = 4
  maxTime = 1.h

  // Input data
  readPaths = [
    ['V590T10', ["$baseDir/test/data/V590T10.R1.fastq.gz", "$baseDir/test/data/V590T10.R2.fastq.gz"]]
  ]

  // Sample Plan - to use instead of readPaths
  //samplePlan = "$baseDir/test/samplePlan.csv"

  // Annotations
  genome = 'hg38'

}
