/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  config_profile_name = 'Test data'
  config_profile_description = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run on Travis
  maxMemory = 40.GB
  maxCpus = 3
  maxTime = 2.h

  genome = 'hg38'
  skipGeneCov = true
  skipSatCurves = true

  // Input data
  if ( "${params.protocol}" == "smartseq3") {
    readPaths = [['V590T10', ["$projectDir/test/data/V590T10.R1.fastq.gz", "$projectDir/test/data/V590T10.R2.fastq.gz"]]]
  } else if ( "${params.protocol}" == "flashseq") {
    readPaths = [['V660T22', ["$projectDir/test/data/V660T22.R1.fastq.gz", "$projectDir/test/data/V660T22.R2.fastq.gz"]]]
  } else {
    protocol = "flashseq"
    readPaths = [['V660T22', ["$projectDir/test/data/V660T22.R1.fastq.gz", "$projectDir/test/data/V660T22.R2.fastq.gz"]]]
  }

}
